@import url("./bootstrap.css");


div {
  width: 800px;
  margin: 0 auto;
}

h1 {
    color: orange;
    text-align: center;
}


h2 {
    font-size: large;
    /* margin-bottom: -10px; */
    color:seagreen; 
}

h3 {
  font-size: large;
  color:black; 
}

.nav-menu {
    list-style-type: none;
  }
  
.nav-menu li {
    display: inline;    
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }